.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &__wrapper{

  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #007bff;
    }
  }

  &_active{
    color: #007bff;
    font-weight: bold;
    position: relative;
  }

}

@media (max-width: 850px) {
  .item{
    &__wrapper:first-child{
      display: none;
    }
  }
}